{{!< default}}
<header id="sp-head" class="sp-head">
    <div class="sp-head-inner">
       <div class="sp-head-left">
       <a class="sp-head-logo" href="{{@site.url}}">
                    <img src="{{@site.logo}}" alt="{{@site.title}}">
        </a>
        <nav class="sp-head-menu">
            {{navigation}}
            {{#unless @site.members_enabled}}
                {{#match @custom.navigation_layout "Stacked"}}
                    <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                {{/match}}
            {{/unless}}
        </nav>
        </div> 
            <div class="sp-head-actions">
                {{#unless @site.members_enabled}}
                    {{^match @custom.navigation_layout "Stacked"}}
                        <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                    {{/match}}
                {{else}}
                    <div class="sp-head-members">
                        {{#unless @member}}
                            {{#unless @site.members_invite_only}}
                                <a class="sp-head-button" href="#/portal/signup" data-portal="signup">About us</a>
                                <a class="sp-head-link" href="#/portal/signin" data-portal="signin">Log in</a>
                            {{else}}
                                <a class="sp-head-button" href="#/portal/signin" data-portal="signin">Log in</a>
                            {{/unless}}
                        {{else}}
                            <a class="sp-head-button" href="#/portal/account" data-portal="account">Account</a>
                        {{/unless}}
                    </div>
                {{/unless}}
            </div>
    </div>
</header>